/* default settings */
*{
    margin:0px;
    padding:0px;
    font-family:Arial;
    border:border-box;
    
}

.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
}


.nav-logo{
     height:60px;
     width:100px;
}
.logo{
    height:60px;
    width:100%;
    background-image:url("images/amazon_logo.png");
    background-size:contain;
}













/* .navbar{
height:60px;
    top:10px;
    /* background-color: #0f1111;
    color:white; */
    display:flex;
     font-size:14px;
      text-align:center;
      justify-content: space-around;
      align-items: center;


}



















.nothing{

    display:flex;
    background-color: #232f3e;
    font-size:14px;
    height:0px;
    align-items:center;
   }

li{
    list-style-type:none;
    margin-right:20px;
   
}
a{
    text-decoration: none;
    /* height:40px; */
 
 
 color:white;

}

li:hover{
    
    border:2px solid white;

} */





















/* @keyframes navbarAnimate {
    from
    {border:none;}
    to 
    {border:2px solid white;}
    
} */

#loacation{
   
    width:100px;
    border:2px solid white;
    
    
}

#search{
    height:40px;
    width:500px;
}