*{
    margin:0px;
    padding:0px;
    font-family:Arial;
}

.fa-solid.fa-house{
    color:blue;
font-size:72px;
}

li{
    list-style-type:none;
    margin-right:5px;
   
}
a{
    text-decoration: none;
 
 font-weight: bold;
 color:white;

}
header{
    background-color: blue;

}
.navbar{
    display:flex;
    background-color: #0F1111;
    font-size:14px;
    
   
    

}