/* default settings */
*{
    margin:0px;
    padding:0px;
    font-family:Arial;
    border:border-box;
   
    
}
/* navbar css */

.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-size:1rem;

}

.nav-logo{
     height:50px;
     width:100px;
}
.logo{
    height:50px;
    width:100%;
    background-image:url("images/amazon_logo.png");
    background-size:cover;
}

.border{
    border:2px solid transparent;
}

.border:hover{
     border:2px solid white;

}

.nav-ad{
    
    font-size:0.7rem;   /*setting the font size to rem for responsiveness*/
    color:#CCCCCC;
    padding:8px;
    
}
.deliverto{

    margin-left:17px;
    /* margin-top:10px; */
    /* position:relative;
    left:20px;  */


    /* margin-left affects the normal layout, while position: relative; left: 
    only visually moves the element without changing its original layout position

margin =changes where the element participates in the layout.
relative + left = changes where the element is visually displayed without chnaging the  normal layout position */
    
    
}

.nav-address-icon{
    display: flex;
    align-items:center;
    
     font-size:0.9rem;
      color:#FFFFFF;
      font-weight: bold;
}

/* box 3 of navbar */
.search{
    
    display:flex;
    width:800px;
    justify-content: space-evenly;
    
    
    /* background-color: pink; */
}

.search:hover{
    border:3px solid orange;
    border-radius: 5px;
}


/* .all_list{
  height:40px;  
} */
#all_list{
height:40px;
width:50px;

background-color:#E6E6E6;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
text-align:center;
border:none; /*select option has a border by default */
}


#input_search{
    height: 40px;
    flex:2; 
   /* or u can use width:100%;
     Method 1: Give the first and last items fixed widths and use flex-grow: 1 for the middle item so it takes the remaining space. 

 Method 2: Give the first and last items fixed widths and use % for the middle item. 
here there can be a issue, that if the total width of all 3 becomes more than the parent, so the flexbox has to resolve the conflict by shrinking items (depending on their flex settings).*/ 
    
    
    border:none;
    font-size:1rems
}

#search_icon{
    background-color:#febd69;
    text-align:center;
    font-size:27px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
   

}

/* box 4 */
.box4{
     height:45px;
    width:65px;
    /* background-color: pink; */
    display:flex;
    justify-content: center;
    align-items: center;

}

#language{
    height:40px;
    width:60px;
    background-color:#0f1111; 
color:white;
border:none;
}
.hello{
    font-size:0.7rem;
}

.nav-signin{
height:50px;
width:130px;
display:flex;
flex-direction: column;
justify-content: center;
align-items:center;

}

/* box 7 */
.cart_logo{
    height:50px;
    width:70px;
    display:flex;
justify-content: center;
align-items:center;
    
}
.fa-solid{
    font-size:20px;
}


/* part 2 now */

.bar2{
    background-color: #232f3e;
    height:40px;
    color:white;
     font-size:0.9rem;
     font-weight:bold
}

.list{
    
    display:flex;
 
    justify-content: space-evenly;
    align-items:center;
     width:1000px;
       height:40px;
}
.list_items {
    height:35px;
    color:white;
    text-decoration:none;
   
    /* color:white; */

    
}
li{
    
    list-style-type:none;

}

/* hero_image */
.hero_image{
    /* display:flex; */
   
    height:400px ;
    background-image: url(images/hero_image.jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
   
}

.hero_mess {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    background-color:white;
    width:85%;
    margin-bottom: 20px;
}
.hero_mess a {
    color:#0339fc;
    text-decoration: none;
}

.shop_section ,.shop_section2{
      
    width:100%;
    display:flex;
    justify-content: space-evenly;
    background-color:#e2e7e6;
}
.div1,.div2,.div3,.div4{
  margin-top: 10px;
    height:450px;
    width:23%;
    background-color: white;
     /* border:0.1px solid black;  */
    border-radius:15px;
    
    
}
.divs{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.general_image{

    height:80%;
    
    background-size: cover;
    width:90%

   

}

.image1{
    background-image:url(images/box1_image.jpg);
    margin-top:5px;
}
.image2{
    background-image:url(images/box2_image.jpg);
    margin-top:5px;
}
.image3{
    background-image:url(images/box3_image.jpg);
    margin-top:5px;
}
.image4{
    background-image:url(images/box4_image.jpg);
    margin-top:5px;
}
.image5{
    background-image:url(images/box5_image.jpg);
    margin-top:5px;
}
.image6{
    background-image:url(images/box6_image.jpg);
    margin-top:5px;
}
.image7{
    background-image:url(images/box7_image.jpg);
    margin-top:5px;
}
.image8{
    background-image:url(images/fashion.jpg);
    margin-top:5px;
}

.shop_section p,.shop_section2 p{
 margin-top:10px;
 color:#0339fc;
}

.shop_section h2,.shop_section2 h2{

margin-top: 15px;
}












































